# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
.env/
ENV/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# JetBrains IDEs
# -----------------------------
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# FastAPI / Uvicorn
# -----------------------------
*.sqlite3

# -----------------------------
# pytest
# -----------------------------
.pytest_cache/

# -----------------------------
# mypy
# -----------------------------
.mypy_cache/

# -----------------------------
# Ruff
# -----------------------------
.ruff_cache/

# -----------------------------
# Coverage Reports
# -----------------------------
.coverage
htmlcov/

# -----------------------------
# Build Files
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/